$color__teal: #009688;
$color__aqua-marine: #1de9b6;
$color__gray-green: #e0f2f1;
$color__dark-green: #004d40;
$color__bg-input: rgba(255, 255, 255, 0.8);
$color__black: #4a4a4a;


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__teal;
$color__background-hover: $color__gray-green;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-post-title: $color__black;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__dark-green;
$color__link-visited: $color__dark-green;
$color__link-hover: $color__aqua-marine;
$color__text-main: $color__black;

$color__border-button: transparent;
$color__border-button-hover: transparent;
$color__border-button-focus: transparent;
$color__border-input: #ccc;
$color__border-abbr: #666;

