
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

/*	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}*/
}


// Social media icons
.social-menu a {
    font-family: $font__icons;
    font-size: 2em;
}
.social-menu a[href^="http://facebook.com"]::before {
    content:"\f082";
    
}

.social-menu a[href^="http://instagram.com"]::before {
    content:"\f16d";
}